<html>
<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">

  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  </head>
  <body>
    <nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="">
        Introducción
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Tipos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/carretes/new">
            Relativa
          </a>
          <a class="navbar-item" href="/carretes/registrado">
            Vacía
          </a>
          <a class="navbar-item" href="/carretes/index_selfmade">
            Atmosférica
          </a>
          <a class="navbar-item" href="/carretes/index_selfmade">
            Otras
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Instrumentos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/instrumentos/piezometro">
            Piezómetro
          </a>
          <a class="navbar-item" href="/instrumentos/vacuometro">
            Vacuómetro
          </a>
          <a class="navbar-item" href="/instrumentos/barometro">
            Barómetro
          </a>
        </div>
      </div>
</nav>  
</div>
  
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>

  </body>

</html>


</section>