<!DOCTYPE html>
  
<html>
<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  </head>
  <body>
    <nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Introducción
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Tipos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/presions/relativa">
            Relativa
          </a>
          <a class="navbar-item" href="/presions/vacio">
            Vacía
          </a>
          <a class="navbar-item" href="/presions/atmosferica">
            Atmosférica
          </a>
          <a class="navbar-item" href="/presions/otras">
            Otras
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Instrumentos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/piezometros/show">
            Piezómetro
          </a>
          <a class="navbar-item" href="/vacuometros/show">
            Vacuómetro
          </a>
          <a class="navbar-item" href="/barometros/show">
            Barómetro
          </a>
        </div>
      </div>
</nav>  
</div>

<div class="hero-body">
  <div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
        </div>
        <div class="column">
            <div class="tile is-parent">
              <article class="tile is-child notification is-danger">
                <div class="content">
                  <p class="title">Barómetro</p>
                  <p class="subtitle">Definición del instrumento</p>
                  <p>Como se puede ver, está formado por una columna que contiene un fluido, generalmente mercurio, donde se encuentra un tubo que deja entrar el líquido y cuya parte superior está cerrada. Con este instrumento se puede medir la presión atmosférica en varias alturas del plano terrestre.  
</p>
                  <div class="content">
                    <!-- Content -->
                  </div>
               </div>
              </article>
        </div>
        
        <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-parent">
              <article class="tile is-child notification is-danger">
                <p class="title">Instrumento</p>
                <figure class="image is-3by3">
                  <img src="https://i.ibb.co/6cMPJ7F/imagen-barometro.jpg" alt="Perfil" width="110" height="410">
                </figure>
              </article>
          </div>
        </div>
        
        <div class="field">
          <br><br/>
          <p>
          ¡Ahora prueba el Barómetro! 
          <p>
          Considerando la densidad del agua y g=9.8 [m/s^2]
          </p>
          <p>
          Ingresa la altura en metros:
          </p>
          <div class="control">
            <input id ="input" class="input is-primary" type="text" placeholder="altura en metros">
          </div>
          <button onclick="myGeeks()"> 
            Medir presión
          </button>
          <br><br/>
          <p>
          La presión medida por el instrumento es:
          </p>
          <label id = "presion_medida"> 
            0
          </label> 
          <script> 
            function myGeeks() { 
              presion = 101325*Math.exp(document.getElementById('input').value *(-1.18)*(10**(-4)))*9.87*(10**(-6))
              document.getElementById('presion_medida').innerHTML 
                = presion + ' [atm]'; 
            } 
          </script> 
        </div>
        </div>
        </div>
       <div class="column is-one-fifth">
       </div>
    </div>
  </div>
  </div>


  </body>
<p> Aqui va el barometros</p>

</html>
</section>