<html>
<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  </head>
  <body>
    <nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Introducción
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Tipos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/presions/relativa">
            Relativa
          </a>
          <a class="navbar-item" href="/presions/vacio">
            Vacía
          </a>
          <a class="navbar-item" href="/presions/atmosferica">
            Atmosférica
          </a>
          <a class="navbar-item" href="/presions/otras">
            Otras
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Instrumentos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/piezometros/show">
            Piezómetro
          </a>
          <a class="navbar-item" href="/vacuometros/show">
            Vacuómetro
          </a>
          <a class="navbar-item" href="/barometros/show">
            Barómetro
          </a>
        </div>
      </div>
</nav>  
</div>



 
  <div class="hero-body">
  <div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
        </div>

        <div class="column">
        
            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <div class="content">
                  <p class="title">Presión atmosferica</p>
                  <p class="subtitle">Definición</p>
                  <p>Esta presión se genera por la fuerza que las capas de gases pertenecientes a la atmósfera ejercen sobre la superficie terrestre. Depende de las condiciones atmosféricas donde se mide. 
</p>
                  <div class="content">
                    <!-- Content -->
                  </div>
               </div>
              </article>
           
        </div>
        
        <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">Diagrama</p>
                <figure class="image is-5by3">
                  <img src="https://controlautomaticoeducacion.com/wp-content/uploads/Presi%C3%B3n-1024x576.jpg" alt="Perfil" width="700" height="488">
                </figure>
              </article>
          </div>
        </div>
        </div>
        

        </div>


       <div class="column is-one-fifth">
       </div>
    </div>
  </div>
  </div>

  </body>



</html>
</section>