<html>
<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">

  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  </head>
  <body>
    <nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="">
        Introducción
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Tipos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/presions/relativa">
            Relativa
          </a>
          <a class="navbar-item" href="/presions/vacio">
            Vacía
          </a>
          <a class="navbar-item" href="/presions/atmosferica">
            Atmosférica
          </a>
          <a class="navbar-item" href="/presions/otras">
            Otras
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Instrumentos de presión
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/piezometros/show">
            Piezómetro
          </a>
          <a class="navbar-item" href="/vacuometros/show">
            Vacuómetro
          </a>
          <a class="navbar-item" href="/barometros/show">
            Barómetro
          </a>
        </div>
      </div>
</nav>  
</div>

<div class="hero-body">
  <div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
        </div>

        <div class="column">
       
            <div class="tile is-parent">
              <article class="tile is-child notification is-link">
                <div class="content">
                  <p class="title">Presión absoluta</p>
                  <p class="subtitle">Definición</p>
                  <p>Es la presión que se ejerce sobre un cuerpo por la acción de algún elemento, más la presión atmosférica que sufre. Este tipo de presión que  se mide con un nivel de referencia  en cero absoluto, y generalmente existe donde no hay presión atmosférica como en tuberías.</p>
                  <p class="title">Presión barométrica</p>
                  <p class="subtitle">Definición</p>
                  <p>Es equivalente a la presión atmosférica medida específicamente a nivel del mar, es muy importante para pronosticar el tiempo.</p>
                  <p class="title">Presión diferencial</p>
                  <p class="subtitle">Definición</p>
                  <p>Se refiere al valor diferencial entre dos presiones. En los procesos industriales este valor es fundamental para entender determinadas circunstancias de un circuito. En el ámbito médico la diferencia numérica entre tu presión arterial sistólica y diastólica se llama presión diferencial.
</p>
                  <p class="title">Presión hidrostática o estática</p>
                  <p class="subtitle">Definición</p>
                  <p>Hace referencia a la presión generada por una columna de líquido, es directamente proporcional a la aceleración de gravedad, a la masa específica y a la profundidad de la columna.</p>
                  <p class="title">Presión hidrodinámica o dinámica</p>
                  <p class="subtitle">Definición</p>
                  <p>Se puede decir que cuando los fluidos se mueven en un conducto, la inercia del movimiento provoca un incremento adicional de la presión estática al chocar sobre un área perpendicular al movimiento. La presión dinámica depende de la velocidad y la densidad del fluido.</p>
                  <p class="title">Presión de estancamiento o pilot</p>
                  <p class="subtitle">Definición</p>
                  <p>Es la presión estática en un punto de estancamiento en un flujo de fluido. En un punto de estancamiento, la velocidad del fluido es cero. En un flujo incompresible, la presión de estancamiento es igual a la suma de la de flujo libre y la presión dinámica de flujo libre.</p>
                  <p class="title">Presión arterial o sanguínea</p>
                  <p class="subtitle">Definición</p>
                  <p>Es la fuerza ejercida por la sangre (un fluido) contra la superficie interna de las arterias. En la aorta, la arteria que recibe el flujo de sangre bombeado por el corazón, es donde se registra la presión arterial más alta.</p>
                  <p class="title">Presión Osmótica</p>
                  <p class="subtitle">Definición</p>
                  <p>Es la presión de una solución contra una membrana semipermeable cerrada, que afecta el movimiento del agua a través de la misma. Por ejemplo, cuando de un lado de la membrana la presión osmótica es mayor, el agua se mueve del lado de menor presión al lado de mayor presión. Este movimiento de agua permite equilibrar las presiones en ambos lados de la membrana.</p>
  
                  <div class="content">
                    <!-- Content -->
                  </div>
               </div>
              </article>
          
        </div>
        
        <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-parent">
              <article class="tile is-child notification is-link">
                <p class="title">Instrumentos de mediciones de presión</p>
                <figure class="image is-6by6">
                  <img src="https://image.slidesharecdn.com/instrumento3presin-150223182432-conversion-gate02/95/instrumento-3-presin-5-638.jpg?cb=1424737524" alt="Perfil" width="700" height="488">
                </figure>
              </article>
          </div>
        </div>
        </div>
        

        </div>


       <div class="column is-one-fifth">
       </div>
    </div>
  </div>
  </div>

  </body>
<p> Aqui van las otras presiones </p>

</html>
</section>